@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 7vh;
}

.h1 {
    border: 3px solid black;
    height: 20vh;
}

.a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
}

.c {
    padding-top: 30px;
    padding-bottom: 30px;
}

h5 {
    font-size: 20px;
    padding-top: 30px;
}

.xd1 {
    width: 30%;
    height: 35px;
}

.xd2 {
    width: 15%;
    height: 35px;
}

.xd3 {
    width: 5%;
    height: 35px;
}

p {
    font-size: 25px;
    margin: 5px;
}

.naranja {
    background-color: rgb(248, 151, 54);
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-1 {
    width: 100%;
    float: left;
}


/* Otras clases */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
}